* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ==== BODY STYLE ====  */
header {
  background-image: url(../ressources/images/5149.jpg);
  width: 100%;
}

/* === HEADER STYLE ==== */
img {
  width: 200px;
  object-fit: fill;
  border-radius: 45%;
}

.header-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  margin: 10px auto 10px auto;
  align-items: center;
}
.header-profile {
  display: flex;
  margin-right: auto;
}

.headers {
  margin: 10px;
  align-items: center;
  display: flex;
}
/* .integrify-logo {
  align-self: ;
} */
.navbar {
  list-style: none;
  width: 100%;
  display: flex;
  background-color: black;
}
.navbar li {
  padding: 10px 10px 10px 10px;
  margin: 0 auto 0 auto;
  justify-content: space-around;
  float: left;
  color: white;
}
.navbar li:hover {
  background: purple;
  transition: 0, 5s;
  text-transform: uppercase;
}
.navbar li a {
  text-decoration: none;
  color: white;
}

/* === SECTIONS STYLE ==== */
#home {
  font-variant: small-caps;
  margin-left: 15px;
  font-size: 3rem;
  text-align: auto;
}
#myintro {
  margin: 10px 10px;
  text-align: center;
  font-size: 1.2rem;
}

#aboutme {
  text-align: center;
  font-variant: small-caps;
  margin: 10px 10px;
}
p {
  text-align: center;
  margin: auto 15px auto 15px;
}
#mypassions {
  text-align: center;
  margin: 10px 10px;
  font-size: 1.2rem;
}
#mybackground {
  text-align: center;
  margin: 10px 10px;
  font-size: 1.2rem;
}
.sections-container {
  /* background-color: lightgray; */
  margin: 20px auto 0px auto;
  padding: 10px 30px;
  line-height: 1.5;
  display: flex;
  width: 80%;
}
.section1 {
  flex: 1;
  order: 1;
  /* background-color: rgb(223, 37, 198); */
  /* padding-left: 10px; */
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 5%;
  border: 2px solid gray;
}
.section2 {
  flex: 1;
  /* background-color: red; */
  /* padding-left: 10px; */
  /* margin-right: 15px; */
  /* margin-left: 15px; */
  border-radius: 5%;
  border: 2px solid gray;
}
/* .mypassionslogos {
  display: block;
  justify-content: right;
  margin: auto;
} */

i {
  font-size: 50px;
  margin: 10px;
}
.section3 {
  flex: 1;
  /* background-color: red; */
  order: 1;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5%;
  border: 2px solid gray;
}
.background-para {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* ===== FOOTER SYLE ====*/
.footer-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: square;
  justify-content: space-evenly;
  background-color: black;
  padding: 10px;
}
.footer-navbar li a {
  text-decoration: none;
  color: white;
}
/* ====> SKILLS PAGE STYLE <=====*/
/* ==== SKILLS STYLE ==== */
.skills-container {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  margin: auto;
}
.skills {
  width: 150px;
  height: 100px;
  background-color: lightsalmon;
  text-align: center;
  margin: 15px auto;
  padding: 15px;
}
