/* ==== INDEX.HTML */

/* ==== Body Style ==== */

img {
  width: 20%;
  object-fit: contain;
}
.head-wrapper {
  display: inline-flex;
  background: url(../Assets/Images/pink-lonely-chair-website-header-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.head-wrapper div {
  width: 33%;
  height: 200px;
  border: 2px solid red;
}
.para {
  color: red;
  border: 2px solid black;
  padding: 10px;
}
.second-para {
  background-color: aqua;
}

/*   div {
        width: 100px;
        height: 100px;
        border: 2px solid green;
      }*/

/* header div {
        border: 2px solid purple;
        display: inline-block;
      }*/
span {
  background-color: lightcoral;
}
/* span is used to create a background for the text */
/*=== Header Style ===*/
.header-nav {
  display: flex;
  justify-content: center;
}
.header-nav li {
  margin-right: 10%;
  list-style: none;
}
.header-nav li a {
  text-decoration: none;
}
a:link {
  color: #ff0000;
}
a:visited {
  color: blue;
}
a:hover {
  color: orange;
  background-color: rgb(0, 0, 0, 0.8);
  border: 2px solid orange;
  padding: 5px 15px;
}
table {
  width: 40%;
  max-width: 50%;
  margin: auto;
  text-align: center;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
th,
td {
  width: 10%;
}

/*==== Footer Style ===*/
footer {
  background: lightblue;
}

/* ==== SOCIAL MEDIA ICONS */
i {
  font-size: 50px;
}
.fa-github {
  color: #24292e;
}
.fa-medium {
  color: #00ab6c;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-twitter {
  color: #1da1f2;
}

/*===== CONTACT.HTML====*/

/*==== Form Style ====*/

.label-container {
  display: flex;
  padding: 5px 0;
}
.label-container input {
  flex: 1;
}
form {
  background-color: aquamarine;
  max-width: 300px;
}
